<footer id="main-footer" class="main-footer">
  <div class="container">
    <div class="main-footer__row">

      <div class="main-footer__col main-footer__brand">
        <div class="main-footer__logo">
          <a target="_blank" rel="nofollow" href="/">
            <svg class="icon" width="141" height="43">
              <use xlink:href="#logo"></use>
            </svg>
          </a>
        </div>
        <div class="main-footer__social">
          <a target="_blank" rel="nofollow" href="/">
            <svg class="icon">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
          <a target="_blank" rel="nofollow" href="/">
            <svg class="icon">
              <use xlink:href="#twitter"></use>
            </svg>
          </a>
          <a target="_blank" rel="nofollow" href="/">
            <svg class="icon">
              <use xlink:href="#pinterest"></use>
            </svg>
          </a>
          <a target="_blank" rel="nofollow" href="/">
            <svg class="icon">
              <use xlink:href="#youtube"></use>
            </svg>
          </a>
          <a target="_blank" rel="nofollow" href="/">
            <svg class="icon">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="main-footer__col main-footer__links">
        <h4>Popular</h4>
        <ul>
          <li><a href="/text-page.html">Order Tracking</a></li>
          <li><a href="/text-page.html">Account Inforamation</a></li>
          <li><a href="/text-page.html">Money Back Guarantee</a></li>
          <li><a href="/text-page.html">Product Quality</a></li>
        </ul>
      </div>

      <div class="main-footer__col main-footer__links">
        <h4>Need help?</h4>
        <ul>
          <li><a href="/text-page.html">Contact Us</a></li>
          <li><a href="/text-page.html">Site Feedback</a></li>
          <li><a href="/text-page.html">Return Policy</a></li>
          <li><a href="/text-page.html">Policies and Procedures</a></li>
        </ul>
      </div>

      <div class="main-footer__col main-footer__links">
        <h4>Resources</h4>
        <ul>
          <li><a href="/text-page.html">Store locator</a></li>
          <li><a href="/text-page.html">Product Status Updates</a></li>
        </ul>
      </div>

      <div class="main-footer__col main-footer__links">
        <h4>Company</h4>
        <ul>
          <li><a href="/text-page.html">Leadership</a></li>
          <li><a href="/text-page.html">Investor</a></li>
          <li><a href="/text-page.html">Careers</a></li>
        </ul>
      </div>

    </div>

    <hr>

    <div class="main-footer__row">

      <div class="main-footer__copyright">
        ©2020 Nature's Sunshine Products, Inc. All rights reserved.
        <br>
        Product information only applies to the U.S.
      </div>

      <div class="main-footer__menu">
        <ul>
          <li><a href="/text-page.html">Pirvacy policy</a></li>
          <li><a href="/text-page.html">Website terms of use</a></li>
          <li><a href="/text-page.html">Return policy</a></li>
        </ul>
      </div>

    </div>

    <div class="main-footer__row">

      <div class="main-footer__approvals">
        <a target="_blank" rel="nofollow" href="/"><img src="./assets/img/approvals1.png" alt="#" loading="lazy"></a>
        <a target="_blank" rel="nofollow" href="/"><img src="./assets/img/approvals2.jpeg" alt="#" loading="lazy"></a>
        <a target="_blank" rel="nofollow" href="/"><img src="./assets/img/approvals3.png" alt="#" loading="lazy"></a>
        <a target="_blank" rel="nofollow" href="/"><img src="./assets/img/approvals4.png" alt="#" loading="lazy"></a>
      </div>

    </div>

  </div>
</footer>