{% extends "layout.html" %}
{% set transparent = "no-transparent" %}
{% set hasHero = "no-hero" %}
{% block content %}
{% import "macro/form.html" as form %}

<section class="my-account">
  <div class="container">
    <div class="my-account__forgot">
        <h2>Forgot Password</h2>
        <p>Lost your password? Please enter your email address. You will receive a link to create a new password via email.</p>
        {{
          form.template({
            "action": "lost-password.html",
            "method": "post",
            "submit": "Reset password",
            "row": [
              {
                "id": "forgot-email",
                "type": "email",
                "label": "Email",
                "class": "forgot-email",
                "required": true
              }
            ]
          })
        }}

    </div>
  </div>
</section>

{% endblock content %}