$sm: 576px;
$md: 768px;
$lg: 990px;
$xl: 1279px;
$grid-gutter-width: 30px;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 990px, xl: 1279px);

$gutter: 16px;
$accent-text: #003b4d;
$dark-text: #666666;
$darken-text: #222222;
$light-text: #ffffff;

$border-radius: 3px;

$accent-color: #c9522b;
$fail-color: #c25131;
$ok-color: #007f6e;
$light-color: #f3f4f8;

$main-font: "Merriweather Sans", Verdana, sans-serif;
$second-font: "Merriweather", "Times New Roman", Times, serif;
